.textoAzulOsuro{
    color: #2c3e50;
}
.fondoAzulOscuro{
    background-color: #2c3e50;
}
.textoNaranja{
    color: rgb(255, 64, 0);
}
.fondoNaranja{
    background-color: rgb(255, 64, 0);
}
.imagenVitrina{
    width: 100%;
    margin-top: 5px;
    display: block;
    border-radius: 5px;
}
.letrasMenu{
    font-size: large;
    color: white;
}

#map {
    width: 300px;
    height: 300px;
}